/*===================
========= Переменные и миксины ===========*/

@import 'variables';
@import 'mixins';

/*===================
========= Спецификация ===========*/

* {
  box-sizing: border-box;
}

.msg {
  background: #7a6ed7;
  padding: 10px;
  font-size: 15px;
  margin-top: 15px;
  border-radius: 10px;
  border: 2px solid #fff;
}

label {
  padding: 0;
  margin: 0;
}

.text-center {
  margin: 0 auto;
}

body {
  padding: 0;
  margin: 0;
  background: $background;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  font-family: $mainFont;
  color: $mainColor;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

body::-webkit-scrollbar-track {
  border-radius: 0;
}

.text-center {
  text-align: center;
}

input,
textarea,
button,
a {
  outline: none;
  border: none;
  color: #fff;
}

p {
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  user-select: none;
}

ul {
  list-style: none;
}

ul,
li {
  padding: 0;
  margin: 0;
}

a {
  font-family: $mainFont;
  text-decoration: none;
}

.container {
  max-width: 1156px;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  box-shadow: 0px 7px 1px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  border: none;
  display: block;
  background: $bgButton;
  width: 240px;
  padding: 10px 26px;
  font-size: 20px;
  color: inherit;
  margin: 0 auto 13px;
  transition: transform 0.2s linear, box-shadow 0.2s linear, background 0.2s linear;

  &:hover {
    background: darken($bgButton, 8%);
    transform: translateY(7px);
    box-shadow: none;
  }
}

.popup {
  overflow-y: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 35px 0;
  background: rgba(0, 0, 0, 0.8);
}

/*===================
========= Анимация (мерцание) ===========*/

@keyframes blinkAnimation {
  0% {
    color: rgba(255, 255, 255, 0.7);
  }
  50% {
    color: rgba(255, 255, 255, 0);
  }
  100% {
    color: rgba(255, 255, 255, 0.7);
  }
}

/*===================
========= Стили для прокрутки ===========*/

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #6a7fee;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: $anotherColor;
  cursor: default;
  width: 15px;
  border: 3px solid #6a7fee;
  border-radius: 10px;
}

/*===================
========= Регистрация, авторизация, сброс пароля ===========*/

.form {
  height: 100vh;
  @include getCenter();

  &__inner {
    width: 520px;
    height: 610px;
    background: $anotherColor;
    border-radius: 30px;
    padding: 23px 0;
    @include getCenter();
    flex-direction: column;
  }

  &__item {
    margin-bottom: 2px;
    position: relative;
  }

  &__warning {
    width: 200px;
    border-radius: 0 0 5px 5px;
    display: block;
    visibility: hidden;
    text-align: center;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 0.3s linear;
  }

  &__item.error &__warning {
    background: #e74c3c;
    visibility: visible;
    opacity: 1;
  }

  &__item.success &__warning {
    visibility: hidden;
    opacity: 0;
  }

  &__icon {
    position: absolute;
    top: 12px;
    right: 10px;
    transition: opacity 0.3s linear;
    opacity: 0;
  }

  &__item.error .form__icon_error {
    color: #e74c3c;
    visibility: visible;
    opacity: 1;
  }

  &__item.success .form__icon_success {
    color: green;
    visibility: visible;
    opacity: 1;
  }

  &__data {
    @include getCenter();
    flex-direction: column;
    width: 265px;
  }

  &__input {
    width: 240px;
    padding: 13px 25px 13px 15px;
    display: block;
    border-radius: 20px;
    font-weight: 700;
    color: #000;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0);
    transition: box-shadow 0.3s linear;

    &:focus {
      box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
    }

    &::placeholder {
      color: #c0c0c0;
      font-family: $mainFont;
    }
  }

  &__title {
    margin-bottom: 15px;
  }

  &__intro {
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
  }

  &__link {
    font-size: 13px;

    & a {
      color: $bgButton;
    }
  }
}

/*===================
========= Анимация (задний фон) ===========*/

.animation-bg {
  position: absolute;
  z-index: -4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.animation-bg__item {
  position: absolute;
  display: block;
  width: 13px;
  height: 13px;
  list-style: none;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  bottom: -100px;
  animation: bgAnimate 20s linear infinite;
}

.animation-bg__item:nth-child(1) {
  left: 86%;
  animation-delay: 0s;
}

.animation-bg__item:nth-child(2) {
  left: 48%;
  animation-delay: 1.2s;
  animation-duration: 7s;
}

.animation-bg__item:nth-child(3) {
  left: 72%;
  animation-delay: 2s;
  animation-duration: 13s;
}

.animation-bg__item:nth-child(4) {
  left: 55%;
  animation-delay: 1s;
  animation-duration: 15s;
}

.animation-bg__item:nth-child(5) {
  left: 40%;
  animation-delay: 0.9s;
}

.animation-bg__item:nth-child(6) {
  left: 15%;
  animation-delay: 2s;
  animation-duration: 16s;
}

.animation-bg__item:nth-child(7) {
  left: 32%;
  animation-delay: 1.5s;
  animation-duration: 8s;
}

.animation-bg__item:nth-child(7) {
  left: 95%;
  animation-delay: 1.7s;
}

.animation-bg__item:nth-child(8) {
  left: 62%;
  animation-delay: 1.3s;
}

.animation-bg__item:nth-child(9) {
  left: 25%;
  animation-delay: 1.3s;
  animation-duration: 11s;
}

.animation-bg__item:nth-child(10) {
  left: 8%;
  animation-delay: 1.7s;
}

@keyframes bgAnimate {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-800px);
    opacity: 0;
  }
}

/*===================
========= Логотип ===========*/

.logo {
  width: 87px;
  height: 87px;
  border-radius: 50%;
  margin-bottom: 25px;
  position: relative;

  &:hover .rainbow__item {
    transform: rotate(135deg);
  }

  &:hover &__patch:before,
  &:hover &__patch:after {
    opacity: 1;
  }

  &:hover &__patch:after {
    transition-delay: 0.8s;
  }

  &:hover &__patch:before {
    transition-delay: 1s;
  }

  /*===================
  ========= Рога ===========*/

  .logo__horn {
    position: absolute;
    border-radius: 2px 2px 0 0;
  }

  .logo__block {
    border: 4px solid #fff;
    border-radius: 2px 2px 0 0;
    width: 25px;
    height: 55px;
    background: #7a6ed7;
  }

  .logo__triangle {
    z-index: 3;
    position: absolute;
    top: -2px;
    left: 6px;
    transform: rotate(45deg);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 0 0;
    border-color: #7a6ed7 transparent transparent transparent;
  }

  .logo__triangle-second {
    position: absolute;
    top: -8px;
    left: 4px;
    transform: rotate(45deg);
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 17px 17px 0 0;
    border-color: #fff transparent transparent transparent;
  }

  .logo__horn:before {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: calc(50% - 7px);
    width: 13px;
    height: 10px;
    background: #7a6ed7;
    z-index: 1;
  }

  /*===================
  ========= Левый рог ===========*/

  .logo__horn_left {
    transform: rotate(-40deg);
    left: 2px;
  }

  /*===================
  ========= Правый рог ===========*/

  .logo__horn_right:before {
    background: #555174;
  }

  .logo__block_right {
    background: #555174;
  }

  .logo__horn_right {
    top: 0;
    right: 0;
    transform: rotate(40deg);
    background: #555174;
    right: 2px;
  }

  .logo__triangle_right {
    border-color: #555174 transparent transparent transparent;
  }

  /*===================
  ========= Центральный рог ===========*/

  .logo__horn_center {
    top: -8px;
    left: 35px;
    border-radius: 2px 2px;
  }

  .logo__horn_center:before {
    display: none;
  }

  .logo__block_center {
    border-radius: 0;
    width: 16px;
    height: 30px;
  }

  .logo__triangle_center {
    top: -4px;
    left: 4px;
    transform: rotate(0deg);
    border-width: 0 4px 8px 4px;
    border-color: transparent transparent #7a6ed7 transparent;
  }

  .logo__triangle-second_center {
    position: absolute;
    top: -10px;
    left: 0px;
    transform: rotate(0deg);
    border-width: 0 8px 10px 8px;
    border-color: transparent transparent #fff transparent;
  }

  /*===================
  ========= Голова ===========*/

  &__head {
    width: 87px;
    height: 87px;
    position: relative;
    z-index: 2;
    border: 4px solid #fff;
    @include getCenter;
    border-radius: 50%;
    background: #7a6ed7;
  }

  &__eye {
    box-shadow: 0px 5.2px 5.2px 2.6px rgba(109, 2, 2, 0.25);
    width: 36px;
    height: 34px;
    border-radius: 50%;
    background: #fff;
    @include getCenter;
  }

  &__eyeball {
    position: relative;
    width: 18px;
    height: 15px;
    background: #000;
    border-radius: 50%;
  }

  &__patch {
    display: block;
    border-radius: 50%;
    background: #fff;
    width: 4px;
    height: 4px;
    position: absolute;
    right: -2px;
    top: 30%;

    &:before,
    &:after {
      content: '';
      display: block;
      background: #fff;
      position: absolute;
      border-radius: 50%;
      opacity: 0;
      transition: opacity 0.3s linear;
    }

    &:before {
      width: 9px;
      height: 9px;
      top: -1px;
      left: -14px;
      transition-delay: 0.8s;
    }

    &:after {
      width: 2px;
      height: 2px;
      top: -2px;
      left: -4px;
      transition-delay: 1s;
    }
  }
}

/*===================
========= Радуга ===========*/

.rainbow {
  width: 280px;
  height: 130px;
  position: absolute;
  top: -52px;
  left: -97px;
  overflow: hidden;
  pointer-events: none;
}

.rainbow__item {
  position: absolute;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  transform: rotate(-45deg);
  list-style: none;
  border-radius: 50%;
  transition: transform 0.7s linear;
}

.rainbow__item:nth-child(1) {
  border: 12px solid #fc0100;
  width: 280px;
  height: 280px;
  transition-delay: 0.1s;
}

.rainbow__item:nth-child(2) {
  border: 12px solid #ff9a36;
  width: 260px;
  height: 260px;
  top: 10px;
  left: 10px;
  transition-delay: 0.2s;
}

.rainbow__item:nth-child(3) {
  border: 12px solid #ffff65;
  width: 240px;
  height: 240px;
  top: 20px;
  left: 20px;
  transition-delay: 0.3s;
}

.rainbow__item:nth-child(4) {
  border: 12px solid #36cb31;
  width: 220px;
  height: 220px;
  top: 30px;
  left: 30px;
  transition-delay: 0.4s;
}

.rainbow__item:nth-child(5) {
  border: 12px solid #03ffff;
  width: 200px;
  height: 200px;
  top: 40px;
  left: 40px;
  transition-delay: 0.5s;
}

.rainbow__item:nth-child(6) {
  border: 12px solid #3465fc;
  width: 180px;
  height: 180px;
  top: 50px;
  left: 50px;
  transition-delay: 0.6s;
}

.rainbow__item:nth-child(7) {
  border: 10px solid #9a01fc;
  width: 160px;
  height: 160px;
  top: 60px;
  left: 60px;
  transition-delay: 0.7s;
}

/*===================
========= Стили для профиля ===========*/

.header {
  background: #4662ae;
  width: 100%;
  border-bottom: 3px solid #fff;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*===================
========= Стили для плеера ===========*/

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $anotherColor;
  padding: 10px 0px;
  width: 482px;
  transition: background 0.3s linear;

  &:hover {
    background: darken($anotherColor, 8%);
  }

  &__link {
    color: $mainColor;
    display: block;
    font-size: 18px;
    transition: color 0.3s linear;

    &:hover {
      color: $hoverColor;
    }
  }

  &__btns {
    margin-top: 15px;
    display: flex;
    align-items: center;
  }

  &__box {
    width: 30px;
    height: 19px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__btn-play {
    margin-right: 10px;
    cursor: pointer;
    user-select: none;
    fill: #fff;
    transition: fill 0.3s linear;

    &:hover {
      fill: $hoverColor;
    }
  }

  &__btn {
    padding: 8px 10px;
    background: #2a2a38;
    color: $mainColor;
    border-radius: 10px;
    font-size: 23px;
    transition: background 0.3s linear;

    &:hover {
      background: lighten(#2a2a38, 4%);
    }
  }
}

/*===================
========= Стили для аватарки ===========*/

.user {
  cursor: pointer;
  display: flex;
  padding: 5px 10px;
  flex-direction: column;
  align-items: center;
  transition: background 0.3s linear;

  &:hover {
    background: $anotherColor;
  }

  &__box {
    position: relative;
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 8px;
    @include invincibleImg();
  }

  &__pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__nick {
    font-size: 20px;
    user-select: none;
    font-family: 'Russo One', -apple-system, system-ui, sans-serif;
  }
}

/*===================
========= Стили для главной секции ===========*/

.main {
  &__inner {
    display: flex;
    justify-content: space-between;
  }
}

.about {
  padding: 23px 20px 0;
  width: 480px;
  height: 500px;
  border-radius: 10px;
  background: $anotherColor;
  display: flex;
  margin-top: 40px;
  flex-direction: column;

  &__box {
    position: relative;
  }

  &__box_title {
    justify-content: center;
    width: 320px;
    align-items: center;
    margin: 0 auto 30px;
    display: flex;
  }

  &__warning {
    position: absolute;
    background: #e74c3c;
    width: 80%;
    padding: 5px 0 3px 0;
    text-align: center;
    bottom: -29px;

    left: calc(50% - 40%);
    border-radius: 0 0 5px 5px;
    visibility: hidden;

    &_name {
      bottom: -22px;
    }

    &_comment {
      bottom: -20px;
    }

    &_poster {
      bottom: -29px;
    }

    &_rating {
      bottom: 5px;
    }
  }

  .js-warning-hidden {
    visibility: hidden;
    opacity: 0;
  }

  .js-warning-visible {
    visibility: visible;
    opacity: 1;
  }

  &__name {
    font-family: $mainFont;
    white-space: nowrap;
    padding: 0 5px 0 0;
    font-size: 36px;
    min-width: 0px;
    max-width: 300px;
    width: auto;
    text-overflow: ellipsis;
    background: transparent;
    color: #fff;
  }

  &__pen {
    user-select: none;
    cursor: pointer;
    width: 27px;
    height: 27px;
    transition: fill 0.3s linear;

    & svg {
      width: 100%;
      height: 100%;
      fill: #fff;
      transition: fill 0.3s linear;

      &:hover {
        fill: $hoverColor;
      }
    }
  }

  .buffer {
    min-width: 0px;
    white-space: nowrap;
    font-family: $mainFont;
    padding: 0 5px;
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: -10;
    font-size: 36px;
    max-width: 300px;
    width: auto;
    visibility: hidden;
  }

  &__holder {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__comment {
    cursor: auto;
    box-shadow: $shadowInputs;
    border-radius: 10px;
    background: $colorProfile;
    padding: 10px 5px 0 10px;
    width: 300px;
    height: 159px;
    font-family: $mainFont;
    resize: none;
    color: $mainColor;
    font-size: 16px;

    &::placeholder {
      color: #fff;
      font-family: $mainFont;
      font-size: 16px;
    }
  }

  &__box_poster {
    width: 120px;
    height: 160px;
    background: $colorProfile;
    border: 2px dashed #fff;
    position: relative;
    border-radius: 10px;
    transition: background 0.3s linear;

    &:hover {
      background: darken($bgButton, 8%);
    }
  }

  &__preview {
    height: 100%;
    overflow: hidden;
  }

  .about__wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__file {
    display: none;
  }

  &__text-poster {
    position: absolute;
    @include getCenter();
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: opacity 0.3s linear;
  }

  &__poster {
    width: 100%;
    height: 100%;
    @include getCenter();

    & img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  &__btn {
    margin: 3px auto 15px auto;
  }
}

/*===================
========= Стили для рейтинга ===========*/

.rating {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}

.rating__item {
  user-select: none;
  font-size: 40px;
  color: #c1c1c1;
  cursor: pointer;
  transition: 0.2s;
}

.rating__item:hover,
.rating__item:hover ~ .rating__item {
  color: #fff;
}

.rating[data-total-value='1'] .rating__item:nth-child(n + 10),
.rating[data-total-value='2'] .rating__item:nth-child(n + 9),
.rating[data-total-value='3'] .rating__item:nth-child(n + 8),
.rating[data-total-value='4'] .rating__item:nth-child(n + 7),
.rating[data-total-value='5'] .rating__item:nth-child(n + 6) {
  color: #ff0;
}
.rating[data-total-value='6'] .rating__item:nth-child(n + 5),
.rating[data-total-value='7'] .rating__item:nth-child(n + 4),
.rating[data-total-value='8'] .rating__item:nth-child(n + 3),
.rating[data-total-value='9'] .rating__item:nth-child(n + 2),
.rating[data-total-value='10'] .rating__item:nth-child(n + 1) {
  color: #ffa500;
}

/*===================
========= Стили для text rotator ===========*/

.js-fade-in-verb {
  animation: fade-it 0.7s ease forwards;
}

.verb {
  visibility: visible;
  color: $mainColor;
}

.about__advice {
  user-select: none;
  text-align: center;
  color: #6b79c0;
  font-size: 22px;
  font-weight: bold;
}

@keyframes fade-it {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*===================
========= Прелоадер ===========*/

.preloader {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  color: rgba(255, 255, 255, 0.7);
  height: 100%;
  background: $background;
  @include getCenter();
  z-index: 100;

  &__loading {
    font-size: 90px;
    user-select: none;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 700;
    animation: blinkAnimation 5s ease infinite;
  }
}

/*===================
========= Стили для списка на главной странице ===========*/

#search {
  height: 30px;
}

.list {
  position: relative;
  background: $anotherColor;
  height: 100%;
  width: 550px;
  padding: 65px 10px 150px 50px;

  &__details {
    display: flex;
    align-items: center;
    margin-bottom: 37px;
  }

  &__title {
    font-size: 28px;
    font-weight: 700;
    margin-right: 14px;
  }

  &__helpers {
    padding-top: 6px;
    display: flex;
  }

  &__search {
    position: relative;
    width: 232px;
    margin-right: 4px;
  }

  &__input {
    width: 100%;
  }

  &_sort {
    display: flex;
  }

  &__input {
    background: #6b79c0;
    border-radius: 10px;
    padding: 5px 25px 5px 10px;
    color: $mainColor;
    font-size: 16px;
    text-overflow: ellipsis;

    &::placeholder {
      color: #fff;
      font-family: $mainFont;
      font-size: 16px;
    }
  }

  &__loop {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 18px;
    @include invincibleImg();
  }

  &__sort {
    display: flex;
  }

  &__btn {
    width: 30px;
    height: 30px;
    background: $bgButton;
    color: $mainColor;
    font-size: 10px;
    margin-right: 4px;
    font-weight: 700;
    border-radius: 5px;
    transition: background 0.3s ease;

    &:last-child {
      margin-right: 0px;
    }

    &:hover {
      background: darken($bgButton, 8%);
    }
  }

  &__item {
    width: 453px;
    height: 50px;
    background: #6b79c0;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    transition: background 0.3s linear;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    &:hover {
      background: darken(#6b79c0, 8%);
    }

    &:last-child {
      margin-bottom: 0px;
    }
  }

  &__del {
    user-select: none;

    & img {
      transform: scale(0.9);
      transition: transform 0.3s ease;
    }

    & img:hover {
      transform: scale(1.2);
    }
  }

  &__about {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__name {
    font-size: 25px;
    text-overflow: ellipsis;
    width: 350px;
    white-space: nowrap;
    overflow: hidden;
  }

  &__holder {
    height: 400px;
    overflow-y: auto;
    padding-right: 20px;
  }
}

.js-hide {
  display: none;
}

.js-copied {
  background: #9b8dca;
}

.list__warning {
  font-size: 70px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -40%);
  user-select: none;
  display: none;
  animation: blinkAnimation 5s ease infinite;
}

/*===================
========= Модальное окно (опции) ===========*/

.js-popup-hide {
  visibility: hidden;
  opacity: 0;
}

#popup-options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed {
  overflow: hidden;
}

.popup {
  transition: all 0.3s ease;

  &__body {
    z-index: 10;
    position: relative;
  }

  &__wrap {
    z-index: -1;
  }

  &__wrap {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    @include getCenter();
    background: rgba(0, 0, 0, 0.6);
  }

  &__horn {
    @include invincibleImg();
    position: absolute;
    z-index: -1;

    &_left {
      left: -40px;
      top: -25px;
      animation: hornMoveLeft 7s linear infinite;
      transform-origin: right bottom;
    }

    &_right {
      right: -40px;
      top: -25px;
      animation: hornMoveRight 6s linear infinite;
      transform-origin: left bottom;
    }

    &_center {
      left: calc(50% - 27px);
      top: -45px;
      animation: hornMoveCenter 5s linear infinite;
      transform-origin: center bottom;
    }
  }

  &__options {
    width: 400px;
    background: $background;
    color: $mainColor;
    border-radius: 30px;
    padding: 15px 0;
    border: 4px solid #fff;
  }

  &__eye {
    width: 36px;
    height: 36px;
    background: #fff;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    @include getCenter();
    margin-bottom: 15px;
    overflow: hidden;
    border: 2px solid #fff;
  }

  &__eyeball {
    background: #000;
    width: 18px;
    height: 18px;
    border-radius: 50%;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      width: 100%;
      height: 0%;
      background: #7a6ed7;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.4) inset;
      animation: eyeBlink 2s ease-in-out 9s infinite;
    }

    &:before {
      top: 0px;
    }

    &:after {
      bottom: 0px;
    }
  }

  @keyframes eyeBlink {
    0%,
    5%,
    10%,
    15%,
    20%,
    25%,
    30%,
    35%,
    40%,
    60%,
    65%,
    70%,
    75%,
    80%,
    85%,
    90%,
    95%,
    100% {
      height: 0%;
    }
    45%,
    50%,
    55% {
      height: 50%;
    }
  }

  .demon-eye {
    position: absolute;
    top: 19px;
    left: calc(50% - 18px);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    opacity: 0;
    background: #fd301d;
    box-shadow: 3px 0 15px rgba(255, 255, 255, 0.2) inset,
      -3px 0 13px rgba(255, 255, 255, 0.4) inset, 0px 5px 10px rgba(255, 255, 255, 0.4) inset;
  }

  .teath__item {
    transform: translateY(-4px);
    z-index: -1;
  }

  .teath__item:nth-child(1) {
    position: absolute;
    bottom: -5px;
    left: 50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 5px 0 4px;
    border-color: #fff transparent transparent transparent;
  }

  .teath__item:nth-child(2) {
    position: absolute;
    bottom: -5px;
    left: 60px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 5px 0 5px;
    border-color: #fff transparent transparent transparent;
  }

  .teath__item:nth-child(3) {
    position: absolute;
    bottom: -5px;
    right: 60px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 5px 0 5px;
    border-color: #fff transparent transparent transparent;
  }

  .teath__item:nth-child(4) {
    position: absolute;
    bottom: -5px;
    right: 80px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 11px 0 8px;
    border-color: #fff transparent transparent transparent;
  }

  .teath__item:nth-child(5) {
    position: absolute;
    bottom: -5px;
    right: 130px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 5px 0 8px;
    border-color: #fff transparent transparent transparent;
  }

  @keyframes teathAppear {
    0% {
      transform: translateY(-5px);
    }
    1% {
      transform: translateY(3px);
    }
    30% {
      transform: translateY(3px);
    }
    31% {
      transform: translateY(-5px);
    }
  }

  @keyframes demonEyeActivate {
    0% {
      opacity: 0;
    }
    1% {
      opacity: 1;
    }
    30% {
      opacity: 1;
    }
    31% {
      opacity: 0;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__file {
    display: none;
  }

  &__label {
    cursor: pointer;
  }

  &__item {
    margin-bottom: 15px;
    border-bottom: 3px solid transparent;
    transition: border-color 0.2s linear;

    &:hover {
      border-color: #fff;
    }
  }

  &__item:last-child {
    margin-bottom: 0px;
  }

  &__link {
    color: #fff;
    font-size: 25px;
  }
}

@keyframes hornMoveRight {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  75% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes hornMoveLeft {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(8deg);
  }
  75% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes hornMoveCenter {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-8deg);
  }
  75% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/*===================
========= Модальное окно (подробности об аниме) ===========*/

.popup {
  &__content {
    background: $background;
    width: 900px;
    border-radius: 30px;
    padding: 30px;
    border: 2px solid #fff;
    margin: 0 auto;
  }

  &__close {
    z-index: 100;
    width: 40px;
    height: 40px;
    background: #6b79c0;
    border-radius: 50%;
    @include getCenter();
    position: absolute;
    left: calc(50% - 20px);
    top: -20px;
    border: 2px solid #fff;
    transition: background 0.3s linear;

    &:hover {
      background: darken($bgButton, 8%);
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__row {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  &__title {
    font-size: 30px;
    font-weight: 700;
  }

  &__text {
    font-size: 16px;
    line-height: 23px;
    word-wrap: break-word;
    white-space: pre-line;
  }

  &__grade {
    display: block;
    font-size: 20px;
    line-height: 50px;
    font-weight: 700;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    background: #6b79c0;
  }

  &__right {
    border-radius: 20px;
    position: relative;
    background: rgba(8, 3, 67, 0.2);
    width: 268px;
    height: 380px;
    overflow: hidden;
    margin: 0 auto 30px;
  }

  &__poster {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include invincibleImg();
    object-fit: cover;
  }
}

/*===================
========= Стили для страницы, которую видят другие пользователи ===========*/

.result {
  &__inner {
    height: 90vh;
    // @include getCenter()
  }
}

.list__holder-result {
  height: 330px;
}

.list-result {
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 20px;
  height: 500px;
}

.about__advice-result {
  margin-top: 30px;
  width: 450px;
}

.user-result {
  cursor: default;
}

.user-result:hover {
  background: none;
}

/*===================
========= Страница "Ошибки" ===========*/

.error__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.error__name {
  font-weight: 700;
  font-size: 180px;
  color: rgba(255, 255, 255, 0.7);
  animation: blinkAnimation 5s ease infinite;
}

/*===================
========= Стили Cropper JS ===========*/

// Override the relative classes as .cropper-crop-box
//  and .cropper-view-box with border-radius, and set both cropBoxMovable and cropBoxResizable options to false.

img {
  display: block;
  max-width: 100%;
}

.cropper-crop-box,
.cropper-view-box {
  border-radius: 50%;
}

.cropper-crop {
  margin: 0 15px 0;
}

.modal-content {
  border-radius: 10px;
  background: $background;
  align-items: center;
}

.cropper-bg {
  background: none;
}

.modal-footer {
  border-top: none;
}

.modal-footer button {
  background: #6b79c0;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background 0.3s;
}

.modal-footer button:hover {
  background: #4e5fb4;
}

.modal-open .modal {
  display: flex !important;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
}

/*===================
========= Адаптивность ===========*/

@media screen and (max-width: 1090px) {
  .list {
    height: auto;
    width: auto;
    padding: 63px 25px 150px 25px;
  }

  .popup__eyeball {
    &:before,
    &:after {
      animation: none;
    }
  }

  .demon-eye {
    animation: demonEyeActivate 30s linear infinite;
  }

  .teath__item {
    animation: teathAppear 30s linear infinite;
  }

  .result__inner {
    padding-bottom: 20px;
    height: auto;
  }

  .animation-bg {
    display: none;
  }

  .list__btn_desk,
  .list__btn_asc {
    display: none;
  }

  .list__warning {
    top: 50%;
  }

  .list__item {
    width: 100%;
    padding: 0 15px;
  }

  .list__details {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  body {
    min-height: auto;
    height: auto;
    overflow-y: visible;
  }

  .main__inner {
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .about {
    margin-bottom: 30px;
  }

  .list {
    width: 480px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 980px) {
  .container {
    padding: 0 15px;
  }

  .nav {
    display: flex;
    justify-content: flex-start;
  }

  .popup__content {
    width: 600px;
  }

  .user {
    margin-left: auto;
  }

  .user:hover {
    background: none;
  }

  .player {
    align-items: flex-start;
    padding: 10px 20px;
  }

  .logo-min {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .form__inner {
    height: auto;
    width: auto;
    padding: 40px;
  }

  .popup::-webkit-scrollbar {
    width: 5px;
  }

  .popup::-webkit-scrollbar-track {
    width: 5px;
    background: transparent;
  }

  .popup::-webkit-scrollbar-thumb {
    background: $anotherColor;
    cursor: default;
    width: 15px;
    border: 3px solid #6a7fee;
    border-radius: 10px;
  }

  .list__holder::-webkit-scrollbar {
    width: 5px;
  }

  .list__holder::-webkit-scrollbar-track {
    width: 5px;
    background: transparent;
  }

  .list__holder::-webkit-scrollbar-thumb {
    background: $anotherColor;
    cursor: default;
    width: 15px;
    border: 3px solid #6a7fee;
    border-radius: 10px;
  }

  .modal-open .modal::-webkit-scrollbar {
    width: 5px;
  }

  .modal-open .modal::-webkit-scrollbar-track {
    width: 5px;
    background: transparent;
  }

  .modal-open .modal::-webkit-scrollbar-thumb {
    background: red;
    cursor: default;
    width: 15px;
    border: 3px solid #6a7fee;
    border-radius: 10px;
  }

  .list__holder {
    padding-right: 15px;
  }

  .list {
    height: auto;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 630px) {
  .popup__content {
    width: 500px;
  }

  .user {
    margin: 0 auto;
  }

  .popup__options {
    width: 245px;
  }

  .popup__horn_right {
    right: -35px;
  }

  .popup__horn_left {
    left: -35px;
  }

  .popup__link {
    font-size: 18px;
  }

  .form__inner {
    width: 90.54vw;
  }

  .rainbow {
    display: none;
  }

  .nav {
    padding: 0;
    padding-top: 20px;
    width: 100%;
    flex-direction: column;
  }

  .user {
    order: 1;
    margin-bottom: 20px;
  }

  .player {
    background: none;
    order: 2;
    align-items: center;
    max-width: 1000px;
  }

  .player:hover {
    background: none;
  }

  .main__inner {
    flex-direction: column;
  }
}

@media screen and (max-width: 510px) {
  .popup__content {
    width: 400px;
  }

  .about__holder {
    margin-bottom: 20px;
  }

  .list__item {
    justify-content: flex-start;
  }

  .list__name {
    width: 220px;
    font-size: 20px;
  }

  .popup__right {
    width: 248px;
    height: 360px;
  }

  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    height: auto;
    padding: 20px 0;
    padding-bottom: 40px;
  }

  .list__holder {
    width: 320px;
    padding: 0 10px;
  }

  .player {
    width: auto;
  }

  .about {
    width: 360px;
    height: auto;
    padding: 23px 0 23px;
  }

  .about__holder {
    flex-direction: column-reverse;
    align-items: center;
  }

  .about__comment {
    margin-top: 30px;
  }

  .about__advice {
    display: none;
  }

  .list__del {
    position: absolute;
    right: 15px;
  }

  .rating {
    width: 310px;
    margin: 0 auto 30px;
  }

  .rating__item {
    font-size: 30px;
  }
}

@media screen and (max-width: 425px) {
  .list__item {
    justify-content: flex-start;
  }

  .popup__time {
    font-size: 12px;
  }

  .popup__content {
    width: 300px;
  }

  .list__name {
    width: 220px;
  }

  .form__inner {
    height: auto;
  }

  .about {
    width: 320px;
    align-items: center;
  }

  .list {
    width: 320px;
  }

  .about__comment {
    width: 250px;
  }

  .error__name {
    font-size: 70px;
  }

  .about__name {
    font-size: 28px;
    max-width: 225px;
  }

  .about .buffer {
    font-size: 28px;
    max-width: 225px;
  }

  .rating {
    width: 260px;
  }

  .player__link {
    font-size: 15px;
    text-align: center;
  }

  .rating__item {
    font-size: 26px;
  }

  .preloader__loading {
    font-size: 70px;
  }
}

@media screen and (max-width: 375px) {
  .popup__options {
    width: 255px;
  }

  .popup__link {
    font-size: 16px;
  }

  .modal-dialog {
    width: 300px;
  }

  .popup__horn_left,
  .popup__horn_right {
    top: -20px;
  }

  .popup__horn_left {
    left: -25px;
  }

  .popup__horn_right {
    right: -25px;
  }

  .player__btn {
    font-size: 19px;
  }
}

@media screen and (max-width: 280px) {
  .form__inner {
    background: none;
  }
}
