$mainColor: #fff;
$mainFont: 'Roboto', -apple-system, system-ui, sans-serif;
$bgButton: #6b79c0;
$background: linear-gradient(180deg, #537cce 0%, #71607e 99.99%, rgba(0, 0, 0, 0.5) 100%);
$colorProfile: #6b79c0;
$anotherColor: rgba(8, 3, 67, 0.2);
$shadowInputs: 2px 3px 10px rgba(0, 0, 0, 0.1);

$hoverColor: #ddd;
